* {
    box-sizing: border-box;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

.fl-container,
.sl-container,
.tl-container,
.ll-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 100vh;
    width: 100%;
}

.blue-line {
    background: rgb(2, 0, 36);
    background: linear-gradient(to bottom, rgba(2, 0, 36, 1) 0%, rgb(122, 59, 203) 47%, rgb(46, 69, 237) 100%);
}

.first-line,
.second-line,
.third-line,
.fourth-line {
    height: 50%;
    background: rgb(2, 0, 36);
    background: linear-gradient(to bottom, rgba(2, 0, 36, 1) 0%, rgba(81, 59, 250, 1) 47%, rgba(0, 112, 255, 1) 100%);
    border-radius: 0.5rem;
}

.white-line {
    background-color: #fff;
    height: 50%;
}

.fl-container .blue-line {
    width: 30%;
}

.fl-container .white-line {
    width: 40%;
}

.sl-container .blue-line {
    width: 60%;
}

.sl-container .white-line {
    width: 20%;
}

.sl-container div:last-child {
    width: 35%;
}

.tl-container .blue-line {
    width: 30%;
}

.tl-container .white-line {
    width: 20%;
}

.tl-container div:last-child {
    width: 50%;
}

.ll-container .blue-line {
    width: 30%;
}

.ll-container .white-line {
    width: 20%;
}

.ll-container div:last-child {
    width: 50%;
}